#===============================================================================
# @brief    Kconfig file.
# Copyright (c) HiSilicon (Shanghai) Technologies Co., Ltd. 2022-2022. All rights reserved.
#===============================================================================
config I2C_BUS_MAX_NUM
    int
    prompt "I2C Max Bus num, the BS2x chip supports a maximum of 2 buses."
    range 1 2
    default 1
    depends on DRIVER_SUPPORT_I2C

config SPI_BUS_MAX_NUM
    int
    prompt "SPI Max Bus num, the BS2x chip supports a maximum of 3 buses."
    range 1 3
    default 1
    depends on DRIVER_SUPPORT_SPI

config SUPPORT_LOG_THREAD
    bool
    prompt "CREATE LOG MAIN THREAD."
    default y

config SUPPORT_LOG_CUSTOM_OUTPUT
    bool
    prompt "LOG CUSTOM OUTPUT."
    default n

config FLASHBOOT_INFO_TO_APP
    bool
    prompt "Enable Flashboot send info to Application."
    default n

config BS2X_USER_PRODUCT_ID
    hex
    prompt "BS2X user product ID. The value 0 is invalid and will not be verified."
    range 0 0xFFFFFF
    default 0