#===============================================================================
# @brief    Kconfig file.
# Copyright (c) HiSilicon (Shanghai) Technologies Co., Ltd. 2022-2022. All rights reserved.
#===============================================================================
config KEYSCAN_REPORT_MAX_NUMS
    int
    prompt "The maximum number of key combinations that can be reported at one time, support 6/7/8/10"
    default 6
    depends on DRIVER_SUPPORT_KEYSCAN

config KEYSCAN_SUPPORT_LPM
    bool
    prompt "KEYSCAN Support low power mode, suspend and resume."
    default n
    depends on DRIVER_SUPPORT_KEYSCAN

config KEYSCAN_SUPPORT_SLEEP
    bool
    prompt "KEYSCAN Support low power mode, enter sleep."
    default n
    depends on DRIVER_SUPPORT_KEYSCAN

config KEYSCAN_IDLE_WAIT_US
    int
    prompt "KEYSCAN Set a timer to enter sleep"
    default 60000000
    depends on DRIVER_SUPPORT_KEYSCAN

config KEYSCAN_SOFTWARE_GHOST_DETECT
    bool
    prompt "KEYSCAN use software to detect ghost key."
    default n
    depends on DRIVER_SUPPORT_KEYSCAN

config KEYSCAN_SUPPORT_SW_DEFENCE
    bool
    prompt "KEYSCAN avoids the tiny jitter."
    default n
    depends on DRIVER_SUPPORT_KEYSCAN

config KEYSCAN_ANOTHER_COL
    int
    prompt "This pulled down column makes all rows continuously scanning if the software defence function is open."
    default 0
    depends on KEYSCAN_SUPPORT_SW_DEFENCE