#===============================================================================
# @brief    Kconfig file.
# Copyright (c) HiSilicon (Shanghai) Technologies Co., Ltd. 2023-2023. All rights reserved.
#===============================================================================
config DFX_SUPPORT_USERS_PRINT
    bool
    prompt "ENABLE USER TO REGISTER LOG API."
    default y
    depends on MIDDLEWARE_SUPPORT_DFX
config DFX_SUPPORT_PRINT
    bool
    prompt "dfx print with level limit"
    default n
    depends on MIDDLEWARE_SUPPORT_DFX
config CONFIG_ERRCODE_SUPPORT_REPORT
    bool
    prompt "Enable user to register errcode report callback."
    default n
    depends on MIDDLEWARE_SUPPORT_DFX

config PRINT_HSO_LOG_BY_USB_SERIAL
    bool
    prompt "Support print hso log by usb serial."
    default n
    depends on MIDDLEWARE_SUPPORT_DFX

config SUPPORT_USER_PRESERVE_DATA
    bool
    prompt "Support user defined preserve data."
    default n
    depends on MIDDLEWARE_SUPPORT_DFX

config USER_PRESERVE_DATA_LEN
    int
    prompt "User defined preserve data length."
    default 4
    depends on SUPPORT_USER_PRESERVE_DATA